<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7faa95">  <td>20/03/13 17:10:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BasePrueba.setUp()[pri:0, instance:com.project.osde.prestadores.Prueba@1f7030a6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/03/13 17:10:38</td>   <td>7180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Prueba.login()[pri:0, instance:com.project.osde.prestadores.Prueba@1f7030a6]">login</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/03/13 17:10:41</td>   <td>10020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Prueba.home()[pri:0, instance:com.project.osde.prestadores.Prueba@1f7030a6]">home</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/03/13 17:10:42</td>   <td>11025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Prueba.invitacion()[pri:0, instance:com.project.osde.prestadores.Prueba@1f7030a6]">invitacion</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>20/03/13 17:10:48</td>   <td>17406</td> <td>&nbsp;</td><td title="&lt;&lt;BasePrueba.tearDown()[pri:0, instance:com.project.osde.prestadores.Prueba@1f7030a6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662736689</td>   <td></td> </tr>
</table>
